# Temporal persistence backend
DB=postgres12
DB_PORT=5432
# Must match POSTGRES_USER in .env.postgres.{env}
POSTGRES_USER=your_db_user
# Must match POSTGRES_PASSWORD in .env.postgres.{env}
POSTGRES_PWD=your_db_password
# Docker service name of postgres
POSTGRES_SEEDS=postgres
